body {
background: lightgrey;
}

h1 {
    font-size: 36px;
}
p {
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
/* Default Button */
#default-button{
    position: absolute;
    width: 166px;
    height: 31px;
    color: #000000;
}
a {
    color: blue;
    font-style: italic;
}

.grid {
    display: grid;
    grid-template: 
    "a a" 1fr
    "b c" 1fr
    ;
    gap:5px;
    width: 80%;
    margin: auto;
}
#big-img {
    grid-area: a;
    background: lightblue;
}
.sm {
    grid-area: b;
    background: lightcoral;
}
.sm2 {
    grid-area: c;
    background: lightgreen;
}
.grid div {
    text-align: center;
    align-items: center;
    border: #000000;
    border-radius: 1px;
    border-style: solid;
}

/* phone FIX- query not firing */
@media only screen and (min-width:0px) and (max-width: 450px) {
    .grid {
        display: grid;
        grid-template: 
        "a" 1fr
        "b" 1fr
        "c" 1fr
        ; 
        gap:px;
        width: 80%;
        margin: auto;
    }
    body {
        background: black;
    }
}

/* laptop FIX */
@media only screen and (min-width: 1080px) and (max-width: 1900px) {
    .grid {
        display: grid;
        grid-template: 
        "a" 1fr
        "b" 1fr
        "c" 1fr
        ;
        gap:5px;
        width: 80%;
        margin: auto;
    }
    body {
        background: black;
    }
}