body {
    background:rgb(241, 241, 237);
    margin: 5vw;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}

.grey-bg-txt {
    background: lightgray;
}
.indent {
    padding-left: 20px;
}

#top-reference {
    padding-left: 5vw;
}
#basic-info {
    /* border: 1px;
    border-color: black;
    border-style: solid; */
    padding: 15px 15px 15px 0px;
    width: 50vw;
}
#npc-box {
    text-align: center;
    border: 1px;
    border-color: black;
    border-style: solid;
    background: #f8f9fa;
    padding: 5px;
    width: 300px;
    align-content: right;
    right: 0px;
    top: 125px;
    position: absolute;
    margin-bottom: 50px;
}
#main-nav {
    border: 1px;
    border-color: black;
    border-style: solid;
    background: #f8f9fa;
    width: 200px;

}
#history {
    margin-top: 175px;
}
#see-also {
    width:50vw;
    border: 1px;
    border-style: solid;
    border-color: black;
    background: #f8f9fa;
    padding: 10px;
}